<section>
  <div class="container flex flex-col rounded-b-2xl pt-10 gap-2">
    @if ((getVotationResult$ | async); as getVotationResult) {
      @switch (getVotationResult.networkStatus) {
        @case (NetworkStatus.ready) {
          <app-adm-subject-list [subjects]="$any(getVotationResult.data.queryVotation)"></app-adm-subject-list>
        }
        @case (NetworkStatus.error) {

          An error occurred...
        }
        @default {
          Loading or so...
        }

      }
    }


  </div>
</section>
