<app-header/>
<section class="flex flex-col">
  @if (formGroup) {
    <label>Date de début
      <input class="border-2 rounded" [formControl]="formGroup.controls.startDate">
    </label>
    <label>Date de fin
      <input class="border-2 rounded" [formControl]="formGroup.controls.endDate">
    </label>
    <label>Sujet
      <input class="border-2 rounded" [formControl]="formGroup.controls.subject_1">
    </label>
    <label>Contenu
      <input class="border-2 rounded" [formControl]="formGroup.controls.content_1">
    </label>
    <label>Sujet
      <input class="border-2 rounded" [formControl]="formGroup.controls.subject_2">
    </label>
    <label>Contenu
      <input class="border-2 rounded" [formControl]="formGroup.controls.content_2">
    </label>
    <label>Sujet
      <input class="border-2 rounded" [formControl]="formGroup.controls.subject_3">
    </label>
    <label>Contenu
      <input class="border-2 rounded" [formControl]="formGroup.controls.content_3">
    </label>
    <label>Sujet
      <input class="border-2 rounded" [formControl]="formGroup.controls.subject_4">
    </label>
    <label>Contenu
      <input class="border-2 rounded" [formControl]="formGroup.controls.content_4">
    </label>
  }
</section>
