<app-header/>

<section class="mt-4">
  <div class="container" style="padding: 0">
    @if ((getVotationResult$ | async); as getVotationResult) {
      @switch (getVotationResult.networkStatus) {
        @case (NetworkStatus.ready) {
          <app-vote-sheet [subjects]="$any(getVotationResult.data.queryVotation)" class="w-full"></app-vote-sheet>
        }
        @case (NetworkStatus.error) {

          An error occurred...
        }
        @default {
          Loading or so...
        }

      }
    }
  </div>
</section>
