<app-header type="extended"/>
<section class="mb-4">
  <div class="container flex bg-[#DF0000] rounded-b-2xl py-3 gap-2">
    <h2 class="text-xl font-bold ml-[58px] text-white text-opacity-65"><a routerLink="/admin">Administration</a></h2>
    <app-icon name="chevron_right" class="text-white"/>
    <h3 class="text-xl font-bold text-white">Modifier {{ title.value }}</h3>
  </div>
</section>
<section class="w-full mt-10">
  <div class="container">
    <div class="mx-auto w-full flex flex-col gap-2">
      <div class="flex flex-col gap-2">
        <div class="flex flex-col gap-1">
          <label for="title" class="w-[100px] font-bold">Title</label>
          <input id="title" type="text" class="border-2 rounded py-2 px-4 font-bold text-2xl" [formControl]="title">
        </div>
        <div class="flex flex-col gap-1">
          <label for="description" class="w-[100px] font-bold">Description</label>
          <textarea id="description" type="text" class="border-2 rounded resize-none py-2 px-4" rows="20" [formControl]="description">{{ description.value }}</textarea>
        </div>
        <button class="bg-red-600 hover:bg-red-700 text-white font-bold py-2 px-4 rounded inline w-[200px]"
          (click)="onUpdateClicked()">Modifier une votation
        </button>
      </div>
    </div>
  </div>
</section>
