<div class="bg-gray-300 rounded-2xl p-5 pl-10 relative">
  <div class="absolute w-10 h-10 top-20 -left-5 rounded-full bg-white block"></div>
  <form action="" (submit)="vote($event)">
    <table class="w-full">
      @for (subject of getSubjects(); track subject.id; let i = $index) {
        <tr class="h-52">
          <td class="font-bold font-mono text-3xl pr-10 block" style="width: 100px">{{ i + 1 }}</td>
          <td class="p-2 border-black border-2 w-full">
            <strong>Objet {{ i + 1 }}</strong>
            <p>{{ subject.title }}</p>
          </td>
          <td class="w-40 border-black border-2">
            <div class="flex flex-col h-[208px]">
              <p class="p-2 font-medium">Réponse</p>
              <input type="text" [id]="subject.id" class="bg-transparent border-none outline-0 p-3 text-xl invalid:bg-red-600 invalid:border-red-600 mt-auto" style="border-top: 1px solid #000" pattern="^(Oui)|(Non)|(No)|(N)|(O)|(Ou)$">
            </div>
          </td>
        </tr>
        <app-subject [subject]="subject" [_id]="i + 1"></app-subject>
      }
    </table>
    <div class="flex justify-between mt-2 pl-[100px]">
      <div>
        <input type="text" [formControl]="user_id" placeholder="Entrer votre identifiant" class="p-2 rounded border-2 outline-0 focus:ring-1 focus:ring-red-600">
      </div>
      <button class="py-1 px-5 bg-red-700 text-white rounded">Voter</button>
    </div>
  </form>
</div>
