<h1 class="text-3xl">Here you will find all our components !</h1>

<div class="p-2 h-dvh">
  <h2 class="text-2xl">app-vote-sheet</h2>
  <app-vote-sheet [objects]="objects"/>
</div>

<div class="p-2 h-dvh">
  <h2 class="text-2xl">app-icon name="home :"</h2>
  <app-icon name="home"/>
</div>
<div class="p-2 h-dvh">
  <h2 class="text-2xl">app-card-button iconName="add" text="Voter" </h2>
  <app-card-button iconName="add" iconSize="6xl" text="Voter" linkPath="/" />
</div>
<div class="p-2 h-dvh">
  <h2 class="text-2xl">app-hero-row title=Votation populaire description='3 mars 2024' theme=dark type=heading</h2>
  <div class="flex flex-col gap-3">
    <app-hero-row title="Votation populaire" description="3 mars 2024" theme="light" type="heading"/>
    <div class="bg-black p-3">
      <app-hero-row title="Premier objet" description="Initiative populaire « Mieux vivre à la retraite (initiative pour une 13e rente AVS) »" theme="dark" type="heading"/>
    </div>
    <app-hero-row title="Deuxième objet" description="Initiative populaire « Pour une prévoyance vieillesse sûre et pérenne (initiative sur les rentes) »" theme="light" type="element"/>
    <div class="bg-black p-3">
      <app-hero-row title="Votation populaire" description="3 mars 2024" theme="dark" type="element"/>
    </div>
  </div>
</div>
<div class="p-2 h-dvh">
  <h2 class="text-2xl">app-header</h2>
  <app-header/>
</div>
