<h1 class="text-3xl">Here you will find all our components !</h1>
<h2 class="text-2xl">app-icon name="home :"</h2>
<app-icon name="home"/>

<div>
  <h2 class="text-2xl">app-hero-row title=Votation populaire description='3 mars 2024' theme=dark type=heading</h2>
  <div class="flex flex-col gap-3">
    <app-hero-row title="Votation populaire" description="3 mars 2024" theme="light" type="heading"/>
    <div class="bg-black p-3">
      <app-hero-row title="Premier objet" description="Initiative populaire « Mieux vivre à la retraite (initiative pour une 13e rente AVS) »" theme="dark" type="heading"/>
    </div>
    <app-hero-row title="Deuxième objet" description="Initiative populaire « Pour une prévoyance vieillesse sûre et pérenne (initiative sur les rentes) »" theme="light" type="element"/>
    <div class="bg-black p-3">
      <app-hero-row title="Votation populaire" description="3 mars 2024" theme="dark" type="element"/>
    </div>
  </div>
</div>

<div>
  <h2 class="text-2xl">app-hero-row title=Votation populaire description='3 mars 2024' theme=dark type=heading</h2>
  <div class="flex flex-col gap-3">
    <app-hero-row title="Votation populaire" description="3 mars 2024" theme="light" type="heading"/>
    <div class="bg-black p-3">
      <app-hero-row title="Premier objet" description="Initiative populaire « Mieux vivre à la retraite (initiative pour une 13e rente AVS) »" theme="dark" type="heading"/>
    </div>
    <app-hero-row title="Deuxième objet" description="Initiative populaire « Pour une prévoyance vieillesse sûre et pérenne (initiative sur les rentes) »" theme="light" type="element"/>
    <div class="bg-black p-3">
      <app-hero-row title="Votation populaire" description="3 mars 2024" theme="dark" type="element"/>
    </div>
  </div>
</div>
